{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-16">
      <h2 class="mt-0">{{ .Title }}</h2>
    </div>
    <div class="col-lg-16 col-xl-18">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <p>A <a href="https://bytecodealliance.org/">Bytecode Alliance</a> project</p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  <section class="section section-sm">
    <div class="container">
      <div class="row justify-content-center">
        <h4>Features</h4>
        <hr class="border border-primary border-1 opacity-75">
            <h2 class="h5">Small runtime size</h2>
            <p>~85K for interpreter and ~50K for AoT</p>
            <h2 class="h5">LLVM based AOT and JIT ⚡️</h2>
            <p>Achieve near to native speed</p>
            <h2 class="h5">Universal AOT loader</h2>
            <p>AoT working on Linux, Windows, MacOS, Android, SGX and MCU</p>
            <h2 class="h5">TEE support (SGX/TDX)</h2>
            <h2 class="h5">Source debugging support</h2>
            <h2 class="h5">Library support (wasi-libc/builtin-libc/socket/pthread/wasi-nn)</h2>

      </div>
    </div>
  </section>

  <section class="section section-sm">
    <div class="container">
      <div class="row justify-content-center">
        <h4>Why WAMR?</h4>
        <hr class="border border-primary border-1 opacity-75">

      </div>
    </div>
  </section>

  <section class="section section-sm">
    <div class="container">
      <div class="row justify-content-center">
        <h4>Recent Blogs</h4>
        <hr class="border border-primary border-1 opacity-75">
        {{- range ( where site.RegularPages.ByDate.Reverse "Section" "blog" | first 3 ) }}
          <div class="card" style="margin-top: 5px; margin-bottom: 5px;">
            <div class="row">
              <div class="col-md-16">
                <div class="card-body">
                  <article>
                    <h2 class="h5"><a class="stretched-link text-body" href="{{ .RelPermalink }}">{{ .Params.title }}</a></h2>
                    <p>{{ .Params.excerpt | safeHTML }}</p>
                    <br/>
                    {{ partial "main/blog-meta.html" . -}}
                  </article>
                </div>
              </div>
            </div>
          </div>
        {{ end}}
        <a href="#">More ...</a>
      </div>
    </div>
  </section>

  <section class="section section-sm">
    <div class="container">
      <div class="row justify-content-center">
        <h4>Recent Events</h4>
        <hr class="border border-primary border-1 opacity-75">
        {{- range ( where site.RegularPages.ByDate.Reverse "Section" "events" | first 3 ) }}
          <div class="card" style="margin-top: 5px; margin-bottom: 5px;">
            <div class="row">
              <div class="col-md-16">
                <div class="card-body">
                  <article>
                    <h2 class="h5"><a class="stretched-link text-body" href="{{ .RelPermalink }}">{{ .Params.title }}</a></h2>
                    {{ partial "main/event-meta.html" . -}}
                    <br/>
                    <br/>
                    {{ partial "main/blog-meta.html" . -}}
                  </article>
                </div>
              </div>
            </div>
          </div>
        {{ end}}
      </div>
    </div>
    <div class="text-center" style="margin-top: 50px; margin-bottom: 5px;">
      <a style="margin-top: 10px;" href="https://bytecodealliance.zulipchat.com/#narrow/stream/290350-wamr">
        <img src="https://img.shields.io/badge/zulip-join_chat-brightgreen.svg" width="128px"/>
      </a>
    </div>
  </section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
